@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500;700&display=swap');


/* =============== */
/* |   general   | */
/* =============== */

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --background: #000000;
  --surface-l1: #181818;
  --surface-l2: #3b3b3b;
  --surface-l3: #474747;

  --foreground-l1: #DCDCDC;

  --accent-blue-900: #102A43;
  --accent-blue-800: #243B53;
  --accent-blue-500: #627D98;
  --accent-blue-100: #D9E2EC;

  --fc-button-bg-color: var(--surface-l2); 
  --fc-button-border-color: var(--fc-border-color);
  --fc-button-text-color: var(--foreground-l1);

  --fc-border-color: var(--surface-l1);

  /* --fc-today-bg-color: rgba(67, 253, 255, 0.1); */
  --fc-today-bg-color: var(--surface-l2);
}

@font-face {
    font-family: Nike;
    src: url('/static/font/NIKE.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Montserrat, Roboto;
    color: var(--foreground-l1);
    background-color: var(--background);
    overflow: hidden;
}


/* =============== */
/* |    header   | */
/* =============== */

.header-container {
    max-width: 100%;
    min-height: 40px;
    height: 10vh;
    overflow: hidden;
    background-color: var(--surface-l1);
    display: flex;
    align-items: center;
}

.header-container h1 {
    font-family: Nike;
    font-size: 2vw;
    text-decoration: underline red;
    
    /* position: absolute; */
    color: var(--foreground-l1);
    padding-left: 1vw;
}

.header-container .google-logo-container {
  /* background-color: var(--surface-l2); */
  height: 4em;
  margin-left: auto;
  margin-right: 50px;
  border-radius: 10px;
  padding: 2px 2px 2px 2px;
  overflow: hidden;

}

.header-container .google-logo-container img{
  height: 100%;
}

.header-container .google-logo-container :hover{
  background-color: var(--surface-l3);

}


/* =============== */
/* |    modal    | */
/* =============== */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  /* border: 1px solid black; */
  border-radius: 20px;
  z-index: 10;
  background-color: var(--surface-l3);
  width: 500px;
  max-width: 80%;
  color: white;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.modal-body {
  padding: 10px 15px;
}


/* =============== */
/* |   calendar    | */
/* =============== */

.calendar-container {
    margin-top: 4vh;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 80vh ;
    background-color: var(--surface-l1);
    border-radius: 20px;
}

.fc {
  font-size: 1vw;
}

.fc, .fc *, .fc ::after, .fc ::before {
  padding-left: 0.08vw;
  padding-right: 0.08vw;

}

.fc-daygrid-day.fc-day-today {
    /* color: cyan; */
    /* font-weight: bold; */
    border-radius: 20px;
  }

.fc .fc-daygrid-day-number {
    padding-right: 47%;
  }

  
/* =============== */
/* |   footer    | */
/* =============== */

footer {
    position: absolute;
    bottom: 0px;
    margin-left: 70vw;
}

footer button {
  min-height: 30px;
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #4c8bf5;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: #4c8bf5;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;

  height: 5vh;
}

footer button span {
  margin: 10px;
}

footer button img {
    max-height: 30px;
    height: auto;
}


/* =============== */
/* |    media    | */
/* =============== */

@media screen and (max-width: 700px) {
    footer {
        margin-left: 70vw;
    }

    footer button {
        color: white;
        width: 60px;
    }
    

    .fc {
        font-size: 3vw;
    }
    .header-container h1 {
      font-size: 30px;
      padding-left: 20px;
    }

    .header-container .google-logo-container {
      height: 40px;
    }
        
  }


/* =============== */
/* |     form    | */
/* =============== */

.google-selection-form {
  padding: 15px;
  }

.form-button-container {
  display: flex;
  justify-content: center;
  }



.button {
  margin-top: 20px;
  position:relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* border: 1px solid #4285F4; */
  border: none;
  border-radius: 5px;
  background-color: #4285F4;
  overflow: hidden;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 110%;
  width: 39px;
  background-color: #1d64d8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-image {
  width: 40px;
  stroke: #fff;
}

.button:hover {
  background: #1d64d8;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #4285F4;
}

.button:active {
  border: 1px solid #4285F4;
}


/* =============== */
/* |    other    | */
/* =============== */

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

/* a:hover { text-decoration: none; } */

a:active { text-decoration: none; }
