{% extends "template.html" %}

{% block title %}
    main
{% endblock %}

{% block main %}

<button data-modal-target="#modal">Open Modal</button>

<div id="calendar"></div>

  <div class="modal" id="modal">
    <div class="modal-header">
      <div class="title">Race Info</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
        <p>Race name: <span id="race-name"></span> </p>
        <p>Date: <span id="race-date"></span> </p>
        <span id="race-distance"></span>
    </div>
  </div>

  <script>

      let calendarEl = document.getElementById("calendar");

      let calendar = new FullCalendar.Calendar(calendarEl, {
        events: [
          {% for event in events %}
            {
            id: "{{ event.id }}",
            title : "{{ event.title | safe }}",
            start : "{{ event.date }}",
            backgroundColor : "{{ event.backgroundColor }}"
            },
          
          {% if event.stages %}
            {% for stage in event.stages %}
            {
              id: "{{ stage.id }}",
              title : "{{ stage.title | safe }}",
              start : "{{ stage.date }}",
            }, 
            {% endfor %}
            
          {% endif %}

          {% endfor %}
          ],

      eventClick: function(info) {
          openModal(modal, info.event.title, info.event.start.toLocaleString('en-US', { 
              weekday: 'short', 
              month: 'long', 
              day: 'numeric', 
              year: 'numeric'}).replace(',',''),

          );
          }});
      

      calendar.render();
  </script>

{% endblock %}
