{% extends "template.html" %}

{% block title %}
    main
{% endblock %}

{% block main %}
  <div class="calendar-container">
    <div id="calendar"></div>
    <!-- <p>test</p> -->
  </div>

  <div class="modal" id="modal">
    <div class="modal-header">
      <div class="title">Race Info</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
        <p id="race-name"></p>
        <p id="race-date"></p>
        <p id="race-distance"></p>
        <p id="race-departure-city"></p>
        <p id="race-arrival-city"></p>
        <p id="race-classification"></p>
        
    </div>
  </div>

  <script>

      function getRaceData(eventId) {
        return fetch(`/race_data/${eventId}`)
        .then(response => response.json());
        }

      let calendarEl = document.getElementById("calendar");

      let calendar = new FullCalendar.Calendar(calendarEl, {

        height: '100%',

        events: [
          {% for event in events %}
            {
            id: "{{ event.id }}",
            title : "{{ event.title | safe }}",
            start : "{{ event.date }}",
            backgroundColor : "{{ event.backgroundColor }}"
            },
          
          {% if event.stages %}
            {% for stage in event.stages %}
            {
              id: "{{ stage.id }}",
              title : "{{ stage.title | safe }}",
              start : "{{ stage.date }}",
            }, 
            {% endfor %}
            
          {% endif %}

          {% endfor %}
          ],

      eventClick: function(info) {
          var eventId = info.event.id;
          getRaceData(eventId).then(data=>{
          openModal(modal, info.event.title, info.event.start.toLocaleString('en-US', { 
              weekday: 'short', 
              month: 'long', 
              day: 'numeric', 
              year: 'numeric'}).replace(',',''), data);

              });
          }});
      

      calendar.render();
  </script>

{% endblock %}
